*{
    margin: 0;
    padding: 0;
}

.hamburger{
    display:  flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    right: 4%;
    top: 11px;
    height: 30px;
    width: 40px;
    cursor: pointer;
    transition: all 0.3s ease-in;
    /* border: 2px solid #0050ff; */
}
.line1, .line2, .line3{
    display: none;
    position: absolute;
    content: '';
    width: 35px;
    height: 2px;
    background: #0050ff;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
}
/* .line::before,
.line::after{
    position: absolute;
    content: '';
    width: 35px;
    height: 2px;
    background: #0050ff;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
} */
.line1{
    transform: translateY(-10px);
}
.line3{
    transform: translateY(10px);
}
/* Animation */
.hamburger.open .line2{
    background: transparent;
}
.hamburger.open .line1{
    transform: rotate(45deg);
}
.hamburger.open .line3{
    transform: rotate(-45deg);
}